<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437565129752-ldgduig1ve9488fv5ub25i2jgg1tdotb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437565129752-ldgduig1ve9488fv5ub25i2jgg1tdotb</string>
	<key>API_KEY</key>
	<string>AIzaSyCkGwcJsEN-qGqSQxO00be_k1tfpKQtyuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>437565129752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lmsApp</string>
	<key>PROJECT_ID</key>
	<string>etivac-lms</string>
	<key>STORAGE_BUCKET</key>
	<string>etivac-lms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437565129752:ios:fea015ab18c0aaf91d6f6d</string>
	<key>DATABASE_URL</key>
	<string>https://etivac-lms-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>